{
    "extends": ["react-native-wcandillon","prettier"],
    "rules": {
      "no-bitwise": 0,
      "react-native/no-inline-styles": 0,
      "react-native/no-color-literals": 0
    },
    "globals": {
      "fetch": false
    },
    "settings": {
      "import/resolver": {
        "node": {
          "paths": ["src"],
          "extensions": [".js", ".jsx", ".ts", ".tsx"]
        }
      }
    },
    "env": {
      "jest": true
    }
  }